-if signed_in?
  -form_for(:comment, :url => add_comment_path(:entity_type => entity.class, :entity_id => entity.id), :html => {:class => 'comment_form'}) do |f|
    %div
      =text_area_tag "comment[body]", nil, :id => "#{dom_id(entity)}_comment_body",:cols => 90, :rows => 15

    %div
      =submit_tag "Comment"
      = link_to_function("Cancel", "hideCommentForm('#{dom_id(entity)}')")
-else
  You must be signed in to comment.
