%h1 #{@folder.name}

=render "posts/form" if signed_in?

#entities
  - @entities.each do |e|
    - if e.is_a?(Post)
      = render :partial => "posts/show", :locals => {:post => e}
    - else
      something else

:javascript
  var loaded_entities = [#{@entities.map {|e| e.id}.join(',')}];
  //var checking_entities = false;

  new PeriodicalExecuter(function() {
    //if(checking_entities != 122)
    //{
      checking_entities = true;
      new Ajax.Request(
        '/folders/#{@folder.id}/add_new_entities?loaded_entities=' + loaded_entities,
        {
          method : 'get',
          //onComplete:function(a) { checking_entities = false;console.log("done"); },
          //onFailure:function(a) { console.log('fail'); },
          //on304:function(a) {console.log('304!');}
        }
      );
    //} else {
    //  console.log("busy");
    //}
  }, 15);
