.container {
  background-color: #cccccc; }

.header {
  background-color: #ccffff; }

.main {
  background-color: #ffccff; }

.post {
  border: 1px solid;
  background-color: #ffff00; }

textarea {
  width: 500px;
  height: 30px;
  font-family: Helvetica;
  font-size: 1em; }

form {
  border: 1px solid; }
