.container {
  background-color: #cccccc; }

.header {
  background-color: #ccffff; }

.main {
  background-color: #ffccff; }

.post {
  float: left;
  border-bottom: 1px solid;
  border-color: #cccccc;
  background-color: #ffffff; }
  .post p {
    margin: 0; }
  .post h2 {
    font-size: 1.2em; }

input[type=text] {
  width: 300px; }

textarea {
  padding: 0;
  width: 300px;
  height: auto;
  font-family: Helvetica;
  font-size: 1em; }
