%h1 Monkey

- if !signed_in?
  %a{:href => sign_up_path}Sign up
  %a{:href => sign_in_path}Sign in

- if signed_in?
  %a{:href => sign_out_path}Sign out

%a{:href => users_path}users

%h2 What not to moan about yet

%ul
  %li Any kind of styling - fonts, layout etc..

%h2 Known Issues

%ul
  %li Nested quoting doesn't work in comments
  %li Posts and comments sometimes get rendered twice
  %li
    %s Comments sometimes don't highlight on mouseover, quote link missing
  %li Multiple youtube videos in one post/comment don't appear
  %li Chrome login issues on Mac

%h2 CHANGELOG

%h3 v0.1.1

%h3 v0.1.0
%ul
  %li Added commenting


