%h1 Monkey

- if !signed_in?
  %a{:href => sign_up_path}Sign up


%a{:href => users_path}users

%h2 What not to moan about yet

%ul
  %li Any kind of styling - fonts, layout etc..

%h2 Known Issues

%ul
  %li Nested quoting doesn't work in comments
  %li
    %s Posts and comments sometimes get rendered twice
  %li
    %s Comments sometimes don't highlight on mouseover, quote link missing
  %li Multiple youtube videos in one post/comment don't appear
  %li Chrome login issues on Mac

%h2 CHANGELOG


%h3 v0.1.2
%ul
  %li Added user icon and links to sidebar
  %li Added new settings page - username changing will come back
  %li Added classic view option
  %li Various styling tweaks
  %li New items and comments are now pushed to clients - this requires Flash

%h3 v0.1.1
%ul
  %li Added sidebar
%h3 v0.1.0
%ul
  %li Added commenting


