-remote_form_for(:post, :url => folder_posts_path(@folder)) do |f|
  -# =f.label :w
  #new_post_subject{:style => 'display:none'}
    =f.text_field :subject

  =f.text_area :body

  #new_post_submit{:style => 'display:none'}
    =submit_tag "Post"
