-remote_form_for(:post, :url => posts_path, :complete => "clearNewPostForm()") do |f|

  #new_post_categories{:style => 'display:none'}
    =hidden_field_tag "category_ids", (@category.id unless @category.system)
    To:
    - Category.find(:all, :conditions => {:system => false}, :order => :name).each do |category|
      %span{:class => "to_category clickable #{category.id == @category.id ? 'selected' : ''}", :category_id => category.id}= category.name

  #new_post_subject
    =f.text_field :subject, :value => "Click here to post"

  #new_post_body{:style => 'display:none'}
    =f.text_area :body, :rows => 10, :cols => 80

  #new_post_submit{:style => 'display:none'}
    =submit_tag "Post"
    = link_to_function "Cancel", "clearNewPostForm()"
