-form_for(:post, :url => posts_path, :html => {:id => 'new_post_form'}) do |f|

  #new_post_categories{:style => 'display:none'}
    =hidden_field_tag "category_ids", (@category.id unless @category.system)
    To:
    =text_field_tag "categories", (@category.name unless @category.system)

  #new_post_subject
    =f.text_field :subject, :value => "Click here to post"

  #new_post_body{:style => 'display:none'}
    =f.text_area :body, :rows => 10, :cols => 80

  #new_post_submit{:style => 'display:none'}
    =submit_tag "Post"
    = link_to_function "Cancel", "clearNewPostForm()"
:javascript
  var categories = '#{Category.non_system.map(&:name).join('|')}'.split('|');
  $j('#new_post_categories > input[name=categories]').autocomplete(categories, { matchContains:true, multiple:true });
