- style = @hide_post ? 'display:none' : ''
.post{:style => style, :id => dom_id(post)}
  %div
    .span-2
      %a{:href => user_path(post.user)}#{post.user.display_name}
    .span-22.last
      %h2 #{post.subject} @ #{pretty_time(post.created_at)}
      = post_preview(post.body)
