.container
  :background-color #cccccc

.header
  :background-color #ccffff

.main
  :background-color #ffccff

// Entities

.post
  :float left
  :border
    :bottom 1px solid
    :color #cccccc
  :background-color #ffffff

  p
    :margin 0

  h2
    :font
      :size 1.2em

input[type=text]
  :width 300px

textarea
  :padding 0
  :width 300px
  :height auto
  :font
    :family Helvetica
    :size 1em

// form
//   :border 1px solid
