body
  :background-color #9AE4E8

.container
  :background-color #cccccc

.header
  :background-color #ccffff

.main
  :background-color #6EC1B5

h1
  :font
    :size 48px
    :weight bold
  :margin
    :bottom 0

h2
  :margin 0

// Entities

.post_container
  :padding
    :top 5px
    :bottom 5px
  :float left
  :background-color #ffffff
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :border 1px solid #000
  :margin-bottom 2px

.tweet_container
  :padding
    :top 5px
    :bottom 5px
  :float left
  :background-color #9AE4E8
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :border 1px solid #000
  :margin-bottom 2px

.comment
  :border
    :top 1px dashed #ccc
  :padding
    :top 5px

.comment_highlight
  :background
    :color #eeeeee

// .inner_post
//   :float left

  p
    :margin 0

  h2
    :font
      :size 1.2em
      :weight bold

input[type=text]
  :width 400px

textarea
  :padding 0
  :width 400px
  :height auto
  :font
    :family Helvetica
    :size 1em

fieldset
  :padding 5px
  :margin 0

blockquote
  :margin 0
