body
  :background-color #9AE4E8

.container
  :background-color #cccccc

.header
  :background-color #ccffff

.main
  :background-color #6EC1B5

h1
  :font
    :size 48px
    :weight bold
  :margin
    :bottom 0

h2
  :margin 0

// Entities

.post
  :padding
    :top 5px
  :float left
  :background-color #ffffff
  :-moz-border-radius 10px
  :-webkit-border-radius 10px
  :border 1px solid #ccc


// .inner_post
//   :float left

  p
    :margin 0

  h2
    :font
      :size 1.2em
      :weight bold

input[type=text]
  :width 400px

textarea
  :padding 0
  :width 400px
  :height auto
  :font
    :family Helvetica
    :size 1em

// form
//   :border 1px solid
