!!! Strict

%head
  %link(rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection")
  %link(rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print")
  %link(rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection")
  /[if lt IE 8]
    %link(rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection")

%body
  .container
    .header.span-24
      %a{:href => root_path}Home
      %a{:href => folders_path}Folders
      - if signed_in?
        Signed in as #{current_user.display_name}
        %a{:href => edit_user_path(current_user)}Settings
    .main.span-24
      = yield
